<li>
	{{burger_name}}

{{#unless devoured}}
	<button class="change-devoured btn-light" data-id="{{id}}" data-newDevoured="{{devoured}}">
		Devour it!
	</button>
{{else}}
	<button class="delete-burger btn-light" data-id="{{this.id}}">Delete</button>
{{/unless}}
	

</li>
