<li>
	{{burger_name}}

	<button class="change-devoured btn-light" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}Delete{{else}}Devour it!{{/if}}
	</button>

	<!--<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
	-->
</li>
